body {
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    font-size: 100%;
}

header {
    text-align: center;
    background-color: #008bda;
}

nav {
    text-align: center;
    background-color: #69aed7;
    padding: 2%
}

nav>span {
    cursor: pointer;
    color: #ffff;
    font-weight: bold;
    font-size: 125%;
}

nav>span:hover {
    color: #0cdc32;
}

main {
    width: auto;
}

table {
    width: 100%;

}

thead {
    text-align: center;
    background-color: #609cb8;
    font-size: 120%;
}

ul {
    text-align: left;
}

#enunciado,
#resultado {
    width: 50%;
    padding: 1%;
}

#enunciado {
    background-color: #cadee9;
}

#resultado {
    background-color: #a7bec9;
}

#ejemplo1,
#ejemplo2,
#ejemplo3,
#ejemplo4,
#ejemplo5,
#ejemplo6,
#ejemplo7 {
    display: none;
}